includes:
  - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
  - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
  checkBenevolentUnionTypes: true
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  errorFormat: ticketswap
  level: max
  paths:
    - src
  type_coverage:
    constant: 100
    declare: 100
    param: 100
    property: 100
    return: 100
  type_perfect:
    no_mixed: true
    null_over_false: true
    narrow_param: true
    narrow_return: true
